.container {
  padding: 0 251px;
  margin: 0 auto;
  max-width: 1440px;
}

/* HEADER START */
.header {
  top: 0;
  display: flex;
  align-items: center;
  gap: 234px;
  padding-top: 28px;
  /* background: var(--homeBgColor); */
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar_links {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header_logo {
  /* font-family: Rubik; */
  font-size: 28px;
  font-weight: 700;
  line-height: 33.18px;
  letter-spacing: -0.15555556118488312px;
  text-align: left;
  color: var(--mainBlack);
}

.navbar_links a {
  font-size: 15px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.10000000149011612px;
  text-align: center;
  color: var(--mainBlack);
  transition: all .3s ease-in-out;
}

.navbar_links a:hover {
  color: var(--activeColor);
}

.register {
  display: flex;
  gap: 50px;
}

.register a {
  font-size: 15px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.10000000149011612px;
  text-align: right;
  color: var(--mainBlack);
  transition: all .3s ease-in-out;
}

.register a:hover {
  color: var(--activeColor);
}

/* HEADER END */


/* OUR STORY START */

.our_story_container {
  width: 1110px;
  height: 783px;
  margin-top: 163px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}

.ourstory_content {
  width: 601px;
  height: 202px;
  padding: 0px 0.5px 0px 0.5px;
  color: var(--mainBlack);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 58px;
}

.ourstory_title {
  width: 233px;
  height: 65px;
  margin-bottom: 44px;
  font-size: 60px;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: -2px;
  text-align: center;
}

.ourstory_desc {
  width: 600px;
  height: 93px;
  opacity: 70%;
  font-size: 19px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.20000000298023224px;
  text-align: center;
}

.ourstory_img {
  width: 1110px;
  height: 523px;

}

/* OUR STORY END */

/* <!-- WE ARE HERE CONTENT START--> */
.Wearehere_content {
  width: 1041px;

  justify-content: center;
  align-items: center;
  color: var(--mainBlack);
  margin-top: 141px;
  display: flex;
  gap: 121px;
}

.wearehere_title h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: -1.7999999523162842px;
  text-align: left;
  width: 451px;
  margin-bottom: 128px;
  height: 174px;
}

.Wearehere_desc p {
  font-size: 19px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
  opacity: 70%;
  width: 469px;
  margin-bottom: 5px;
  padding: 8px;
}

.Wearehere_desc {
  height: 294px;

}

/* <!-- WE ARE HERE CONTENT END--> */

/* <!-- High Skilled content START-->*/


.Highskill_section {
  background-color: var(--lightGrey);
  align-items: center;

}

.Highskill_container {
  display: flex;
  margin-top: 86px;
  padding-bottom: 110px;
  gap: 50px;
}

.Highskill_img {
  display: flex;
  gap: 20px;
  padding-top: 100px;

}

.Highskill_img_left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Highskill_img_right {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;

}



.Highskilledcoders_content {
  width: 495px;
  height: 413px;
  margin-top: auto;
}


.Highskilled_title {
  width: 382px;
  height: 116px;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: -1.7999999523162842px;
  text-align: left;
  margin-bottom: 38px;
}

.Highskilled_desc_container {
  width: 500px;
  height: 258px;
  opacity: 70%;
  font-size: 19px;
  font-weight: 400;
  color: (22, 28, 45, 1);
  text-align: left;
  line-height: 32px;
  letter-spacing: -0.2px;
}

.Highskilled_desc {
  margin-bottom: 10px;
}

/* <!-- High Skilled content END--> */

/* MEET OUR TEAM START */
.Meetourteam_div {
  width: 1158px;
  height: 1184px;
  margin-top: 107px;
  color: var(--mainBlack);
  margin-bottom: 179px;
  padding: 30px;

}

.Meetourteam_content {
  margin-bottom: 68px;
}

.Meetourteam_content h4 {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: -1.7999999523162842px;
  text-align: center;
  margin-bottom: 25px;
}

.Meetourteam_content p {
  width: 610px;
  font-size: 19px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.20000000298023224px;
  text-align: center;
  opacity: 70%;
  margin: auto;
}

.Meetourteam_img_container {
  display: flex;
  height: 964px;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 68px;
  width: 1158px;
}

.Meetourteam_img_container div {
  width: 267px;
}

.Meetourteam_img_container h5 {
  font-size: 21px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.5px;
  text-align: left;
  margin-top: 31px;
}

.Meetourteam_img_container p {
  font-size: 17px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
  opacity: 70%;
  margin-top: 4px;
}

/* MEET OUR TEAM END */

/* FOOTER START  */
footer {
  padding: 120px 0 165px;
  background-color: var(--mainBlack);
}

.footer_content {
  display: flex;
  gap: 101px;
}

.footer_logo {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer_logo_title {
  color: var(--white);
  font-size: 28px;
  font-weight: 700;
  line-height: 33.18px;
  letter-spacing: -0.15555556118488312px;
  text-align: left;
}

.footer_desc {
  width: 274px;
  color: var(--white);
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
  opacity: 65%;
}

.footer_sosials {
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer_right_items {
  display: flex;
  gap: 50px;
}

.footer_right_item_title {
  color: var(--white);
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
  opacity: 65%;
  padding-bottom: 20px;
}

.footer_right_item {
  width: 130px;
  color: var(--white);
  font-size: 17px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
}

/* FOOTER END  */