.container {
    padding: 0 251px;
    margin: 0 auto;
    max-width: 1440px;
  }
  
  /* HEADER START */
  .header {
    top: 0;
    display: flex;
    align-items: center;
    gap: 234px;
    padding-top: 28px;
    background: var(--white);
    padding-bottom: 26px;
  }
  .navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar_links {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .header_logo {
    /* font-family: Rubik; */
    font-size: 28px;
    font-weight: 700;
    line-height: 33.18px;
    letter-spacing: -0.15555556118488312px;
    text-align: left;
    color: var(--mainBlack);
  }
  .navbar_links a {
    font-size: 15px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: -0.10000000149011612px;
    text-align: center;
    color: var(--mainBlack);
    transition: all .3s ease-in-out;
  }
  .navbar_links a:hover{
    color: var(--activeColor);
  }
  .register {
    display: flex;
    gap: 50px;
  }
  .register a {
    font-size: 15px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: -0.10000000149011612px;
    text-align: right;
    color: var(--mainBlack);
    transition: all .3s ease-in-out;
  }
  .register a:hover{
    color: var(--activeColor);
  }
  /* HEADER END */

  /* SIGN UP START */

  .signup_section {
    background-color: var(--lightGrey);
    height: 1104px;
    margin-bottom: 69px;
  }
   .signup_container {
    padding-top: 125px;
    margin-bottom: 137px;
    display: flex;
    flex-direction: column;
  } 

  .signup_content_container {
    width: 344px;
    height: 131px;
    padding: 3px;
    margin: auto;
  } 

  .signup_title {
    font-size: 60px;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: -2px;
    text-align: center;   
  }
  
 .signup_desc {
    font-size: 19px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.20000000298023224px;
    text-align: center;
    padding-top: 34px;
    opacity: 70%;
  }

  .signup_form {
    width: 350px;
    height: 581px;
    background-color: var(--white);
    box-shadow: 0 0 20px rgba(231, 233, 237, 1);
    margin-top: 55px; 
    border-radius: 10px;
    padding: 26px;
  }

  .signup_form_container{
    margin: auto;
    height: 656px;
  }
  .signup_link {
    margin-top: 46px;
    text-align: center;
  }
  .signup_link a:hover {
    color: var(--blueColor);
  }
  input {
    border: 1px solid var(--lightGrey);
    border-radius: 8px;
    width: 300px;
    height: 50px;
    font-size: 15px;
    font-weight: 400;
    padding: 12px;
    margin-bottom:21px;
  }
  label {
    display: block;
    font-size: 15px;
    font-weight: 700;
    color: var(--mainBlack);
    padding: 7px;

  }
 
  
  .btn {
   margin-top: 40px;
   align-items: center;
    text-align: center;
    background-color: var(--blueColor);
    padding: 14px;
    width: 300px;
    height: 59px;
    border-radius: 8px;
    color: var(--white);
    font-size: 17px;
    font-weight: 700;
    box-shadow: 0 0 20px rgba(231, 233, 237, 1);
  }
  .btn:hover {
    background-color: rgb(21, 21, 131);
    cursor: pointer;
  }

  /* SIGN UP END */

  
/* FOOTER START  */
footer {
    padding: 120px 0 165px;
    background-color: var(--mainBlack);
  }
  .footer_content {
    display: flex;
    gap: 101px;
  }
  .footer_logo {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .footer_logo_title {
    color: var(--white);
    font-size: 28px;
    font-weight: 700;
    line-height: 33.18px;
    letter-spacing: -0.15555556118488312px;
    text-align: left;
  }
  .footer_desc {
    width: 274px;
    color: var(--white);
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.10000000149011612px;
    text-align: left;
    opacity: 65%;
  }
  .footer_sosials {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  .footer_right_items {
    display: flex;
    gap: 50px;
  }
  .footer_right_item_title {
    color: var(--white);
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.10000000149011612px;
    text-align: left;
    opacity: 65%;
    padding-bottom: 20px;
  }
  .footer_right_item {
    width: 130px;
    color: var(--white);
    font-size: 17px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
  }
  /* FOOTER END  */
  